
*.map
*.lst
*.s
*.pbi
*.o
*.xcl
*.browse
*.linf
*.hex
*.out
*.bat
IAR/Projects/ProjectFiles/ProjectBase/settings/ProjectBase.Debug.cspy.ps1
IAR/Projects/ProjectFiles/ProjectBase/settings/ProjectBase.dnx
IAR/Projects/ProjectFiles/ProjectBase/settings/ProjectBase.Release.cspy.ps1
*.dbgdt
*.wsdt
*.log
*.pbd
*.db
*.ipch
*.opendb
.vs/RL78_Board_IAR/v15/.suo
*.json
*.ps1
*.dnx
